*{
    box-sizing: border-box;
     font-family: 'Lato', sans-serif; 
}

.logo{
  height: 200px;
  width: 200px;
  
}
  
  /* main{
   
    align-items: center;
    justify-content: center;
    position: relative;
    left: 20%;
    top: 10%;
    
  } */
.container{
    margin-top: 20%;
    max-width: 750px;
    height: 100%;
}
.btnajout {
    background-color: white;
    border: 1px solid rgb(46, 46, 46);
    border-radius: 10%;
    padding: 10px 20px;
    color: black;
    text-align: center;
    text-decoration: none;
    float: right;
    margin-bottom: 20px;
    
  }
 @media only screen and (max-width: 650px){
    .btnajout {
        width:40%;
        text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  position: relative;
  right: 20%;
  
    }
  }
  

  .btnajout:hover, .btnajout:active{

    background-color: rgb(132, 134, 132);
    color: white;
  }
.btn_btn{
  display: inline-flex;
  align-items: center;
 justify-content: center;
text-decoration: none;
color: black;
margin: 2%;
width: 70px;

border-right: 1px solid rgb(0, 0, 0);
}

 

footer{
    margin-top: 15%;
  }